In [197]:
import pandas as pd
import numpy as np

In [198]:
dataset=pd.read_csv("IPl Ball2008-2020.csv")
dataset.head()

,id,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
0,335982,1,6,5,RT Ponting,BB McCullum,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
1,335982,1,6,6,BB McCullum,RT Ponting,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
2,335982,1,7,1,BB McCullum,RT Ponting,Z Khan,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
3,335982,1,7,2,BB McCullum,RT Ponting,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore
4,335982,1,7,3,RT Ponting,BB McCullum,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore

In [199]:
dataset.loc[dataset["is_wicket"]==1].isna().sum()

id                     0
inning                 0
over                   0
ball                   0
batsman                0
non_striker            0
bowler                 0
batsman_runs           0
extra_runs             0
total_runs             0
non_boundary           0
is_wicket              0
dismissal_kind         0
player_dismissed       0
fielder             2711
extras_type         9452
batting_team           0
bowling_team          10
dtype: int64

In [200]:
dataset["over"].nunique()

20

In [201]:
dataset.shape

(193468, 18)

In [202]:
dataset[dataset["over"]<6].shape

(60938, 18)

In [203]:
2*3

6

In [204]:
match=pd.read_csv("IPL Matches 2008-2020.csv")

In [205]:
match.head()

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,Chandigarh,2008-04-19,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,MR Benson,SL Shastri
2,335984,Delhi,2008-04-19,MF Maharoof,Feroz Shah Kotla,0,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,Mumbai,2008-04-20,MV Boucher,Wankhede Stadium,0,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,N,NaN,SJ Davis,DJ Harper
4,335986,Kolkata,2008-04-20,DJ Hussey,Eden Gardens,0,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,N,NaN,BF Bowden,K Hariharan

In [206]:
match.shape, dataset.shape

((816, 17), (193468, 18))

In [207]:
df = match.merge(dataset, on=['id'], how='inner')
df.shape

(193468, 34)

In [208]:
df.sample()

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team
93616,598070,Delhi,2013-05-21,MEK Hussey,Feroz Shah Kotla,0,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,Chennai Super Kings,runs,48.0,N,NaN,NJ Llong,RJ Tucker,1,1,3,M Vijay,MEK Hussey,MM Patel,4,0,4,0,0,NaN,NaN,NaN,NaN,Chennai Super Kings,Mumbai Indians

In [209]:
df.columns

Index(['id', 'city', 'date', 'player_of_match', 'venue', 'neutral_venue',
       'team1', 'team2', 'toss_winner', 'toss_decision', 'winner', 'result',
       'result_margin', 'eliminator', 'method', 'umpire1', 'umpire2', 'inning',
       'over', 'ball', 'batsman', 'non_striker', 'bowler', 'batsman_runs',
       'extra_runs', 'total_runs', 'non_boundary', 'is_wicket',
       'dismissal_kind', 'player_dismissed', 'fielder', 'extras_type',
       'batting_team', 'bowling_team'],
      dtype='object')

In [210]:
dfdrop_cols = ['player_of_match', 'winner', 'result', 'result_margin','batsman', 'non_striker', 'bowler', 'batsman_runs',
       'extra_runs','non_boundary', 'is_wicket',
       'dismissal_kind', 'player_dismissed', 'fielder','extras_type']

In [211]:
dropp=['umpire1','umpire2']

In [212]:
dr=["ball"]

In [213]:
df.columns

Index(['id', 'city', 'date', 'player_of_match', 'venue', 'neutral_venue',
       'team1', 'team2', 'toss_winner', 'toss_decision', 'winner', 'result',
       'result_margin', 'eliminator', 'method', 'umpire1', 'umpire2', 'inning',
       'over', 'ball', 'batsman', 'non_striker', 'bowler', 'batsman_runs',
       'extra_runs', 'total_runs', 'non_boundary', 'is_wicket',
       'dismissal_kind', 'player_dismissed', 'fielder', 'extras_type',
       'batting_team', 'bowling_team'],
      dtype='object')

In [214]:
dropp=['team1', 'team2',
       'toss_winner', 'toss_decision']

In [215]:
df.drop(columns=dropp, inplace=True)

In [216]:
df["method"].unique()

array([nan, 'D/L'], dtype=object)

In [217]:
df["date"].dtypes

dtype('O')

In [218]:
df["eliminator"].unique()

array(['N', 'Y', nan], dtype=object)

In [219]:
df.loc[df["eliminator"].isna(),"method"].unique()

array([nan], dtype=object)

In [220]:
df['year'] = pd.to_datetime(df["date"],format="%Y/%m/%d")

In [221]:
#.dt.year -> to get only year

In [222]:
df.head()

,id,city,date,player_of_match,venue,neutral_venue,winner,result,result_margin,eliminator,method,umpire1,umpire2,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team,year
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen,1,6,5,RT Ponting,BB McCullum,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,2008-04-18
1,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen,1,6,6,BB McCullum,RT Ponting,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,2008-04-18
2,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen,1,7,1,BB McCullum,RT Ponting,Z Khan,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,2008-04-18
3,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen,1,7,2,BB McCullum,RT Ponting,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,2008-04-18
4,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen,1,7,3,RT Ponting,BB McCullum,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,2008-04-18

In [223]:
df.head()

,id,city,date,player_of_match,venue,neutral_venue,winner,result,result_margin,eliminator,method,umpire1,umpire2,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team,year
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen,1,6,5,RT Ponting,BB McCullum,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,2008-04-18
1,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen,1,6,6,BB McCullum,RT Ponting,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,2008-04-18
2,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen,1,7,1,BB McCullum,RT Ponting,Z Khan,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,2008-04-18
3,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen,1,7,2,BB McCullum,RT Ponting,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,2008-04-18
4,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen,1,7,3,RT Ponting,BB McCullum,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,2008-04-18

In [224]:
df[df["eliminator"].isna()].shape

(372, 31)

In [225]:
match[match["eliminator"].isna()].shape

(4, 17)

In [226]:
match[match["eliminator"].isna()]

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
241,501265,Delhi,2011-05-21,NaN,Feroz Shah Kotla,0,Delhi Daredevils,Pune Warriors,Delhi Daredevils,bat,NaN,NaN,NaN,NaN,NaN,SS Hazare,RJ Tucker
486,829763,Bangalore,2015-04-29,NaN,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,NaN,NaN,NaN,NaN,NaN,JD Cloete,PG Pathak
511,829813,Bangalore,2015-05-17,NaN,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,field,NaN,NaN,NaN,NaN,NaN,HDPK Dharmasena,K Srinivasan
744,1178424,Bengaluru,2019-04-30,NaN,M.Chinnaswamy Stadium,0,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,NaN,NaN,NaN,NaN,NaN,UV Gandhe,NJ Llong

In [227]:
pd.set_option('max_rows', None)
pd.set_option('max_columns', None)

In [237]:
dropp=["player_of_match","winner",'umpire1', 'umpire2','result_margin','result','batsman', 'non_striker', 'bowler',
       'batsman_runs', 'extra_runs','non_boundary', 'is_wicket',
       'dismissal_kind', 'player_dismissed', 'fielder', 'extras_type']

In [239]:
df.drop(columns=dropp,inplace=True)

In [240]:
df.columns

Index(['id', 'city', 'date', 'venue', 'neutral_venue', 'eliminator', 'method',
       'inning', 'over', 'ball', 'total_runs', 'batting_team', 'bowling_team',
       'year'],
      dtype='object')

In [243]:
#drop >6overs
temp=df.loc[df["over"]>6].index
df=df.drop(temp)

In [ ]:
#sum of runs in over
#group by batitn team bowling rwam venue,over........................totalruns.sum() ->kotha column

In [244]:
df.head()

,id,city,date,venue,neutral_venue,eliminator,method,inning,over,ball,total_runs,batting_team,bowling_team,year
0,335982,Bangalore,2008-04-18,M Chinnaswamy Stadium,0,N,NaN,1,6,5,1,Kolkata Knight Riders,Royal Challengers Bangalore,2008-04-18
1,335982,Bangalore,2008-04-18,M Chinnaswamy Stadium,0,N,NaN,1,6,6,1,Kolkata Knight Riders,Royal Challengers Bangalore,2008-04-18
79,335982,Bangalore,2008-04-18,M Chinnaswamy Stadium,0,N,NaN,1,0,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,2008-04-18
80,335982,Bangalore,2008-04-18,M Chinnaswamy Stadium,0,N,NaN,1,0,2,0,Kolkata Knight Riders,Royal Challengers Bangalore,2008-04-18
81,335982,Bangalore,2008-04-18,M Chinnaswamy Stadium,0,N,NaN,1,0,3,1,Kolkata Knight Riders,Royal Challengers Bangalore,2008-04-18

In [234]:
dataset.isna().mean()

id                  0.000000
inning              0.000000
over                0.000000
ball                0.000000
batsman             0.000000
non_striker         0.000000
bowler              0.000000
batsman_runs        0.000000
extra_runs          0.000000
total_runs          0.000000
non_boundary        0.000000
is_wicket           0.000000
dismissal_kind      0.950922
player_dismissed    0.950922
fielder             0.964935
extras_type         0.947108
batting_team        0.000000
bowling_team        0.000987
dtype: float64

In [235]:
df.head()

,id,city,date,player_of_match,venue,neutral_venue,winner,result,result_margin,eliminator,method,umpire1,umpire2,inning,over,ball,batsman,non_striker,bowler,batsman_runs,extra_runs,total_runs,non_boundary,is_wicket,dismissal_kind,player_dismissed,fielder,extras_type,batting_team,bowling_team,year
0,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen,1,6,5,RT Ponting,BB McCullum,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,2008-04-18
1,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen,1,6,6,BB McCullum,RT Ponting,AA Noffke,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,2008-04-18
2,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen,1,7,1,BB McCullum,RT Ponting,Z Khan,0,0,0,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,2008-04-18
3,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen,1,7,2,BB McCullum,RT Ponting,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,2008-04-18
4,335982,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen,1,7,3,RT Ponting,BB McCullum,Z Khan,1,0,1,0,0,NaN,NaN,NaN,NaN,Kolkata Knight Riders,Royal Challengers Bangalore,2008-04-18