In [3]:
import pandas as pd
import numpy as np

In [6]:
df=pd.DataFrame(np.arange(0,20).reshape(5,4),index=["row1","row2","row3","row4","row5"],columns=["column1","column2","column3","column4"])

In [7]:
df

      column1  column2  column3  column4
row1        0        1        2        3
row2        4        5        6        7
row3        8        9       10       11
row4       12       13       14       15
row5       16       17       18       19

In [8]:
df.to_csv("testtttt1.csv")

In [12]:
type(df.loc)

pandas.core.indexing._LocIndexer

In [20]:
type(df.iloc[0:2,0:1])

pandas.core.frame.DataFrame

In [24]:
df.iloc[0:2,0]

row1    0
row2    4
Name: column1, dtype: int32

In [27]:
df.iloc[:,:].values.shape

(5, 4)